.shadow {
  background-color: rgba(0, 0, 0, 0.2); }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 50px;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  z-index: 2;
  transition: background-color .5s ease-in-out; }
  header .logo {
    position: fixed;
    width: 30px;
    height: 30px;
    left: 90px;
    top: 10px;
    background-image: url("../images/ellis-logo.png");
    background-size: contain;
    transition: all .5s ease-in-out; }
  header h1 {
    display: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .3rem;
    color: black;
    visibility: hidden;
    white-space: nowrap; }

.header-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #ff5133;
  z-index: 1;
  transition: background-color .5s ease-in-out; }

@media (min-width: 900px) {
  header {
    background-color: rgba(0, 0, 0, 0.2); }
    header .logo {
      left: 50px; }
    header h1 {
      visibility: visible;
      margin-left: 300px; }

  .header-back {
    background-color: white; } }
.main-nav {
  visibility: hidden;
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ff5133;
  padding: 95px 0 0 0;
  z-index: 1; }
  .main-nav .menu-item {
    visibility: hidden;
    font-size: 1.3rem;
    line-height: 2.5rem;
    margin-left: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    transition: color .1s ease-in-out;
    cursor: pointer; }
  .main-nav .menu-item:hover {
    color: rgba(0, 0, 0, 0.5); }
  .main-nav .submenu {
    display: none;
    margin-left: 70px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 0; }
    .main-nav .submenu li {
      text-transform: none;
      padding: 10px 0;
      font-size: .8rem; }

@media (min-width: 900px) {
  .main-nav {
    visibility: visible; }
    .main-nav .menu-item {
      visibility: visible; } }
.hamburger-trigger {
  position: fixed;
  top: 10px;
  left: 50px;
  cursor: pointer; }
  .hamburger-trigger .fa {
    font-size: 30px; }

.hamburger-nav {
  background-color: #ff5133;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100vh;
  width: 0;
  transition: width .2s linear;
  box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.2); }
  .hamburger-nav .close-hamburger {
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color .2s ease-in-out; }
    .hamburger-nav .close-hamburger .fa {
      display: none;
      margin-left: 50px;
      font-size: 2rem;
      color: white; }
    .hamburger-nav .close-hamburger p {
      margin-left: 15px;
      color: white;
      font-size: 1.3rem;
      font-weight: 400;
      text-transform: uppercase;
      display: none; }
  .hamburger-nav .close-hamburger:hover {
    background-color: rgba(0, 0, 0, 0.2); }
  .hamburger-nav .menu-item {
    display: none;
    font-size: 1.3rem;
    line-height: 2.5rem;
    margin-left: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    transition: color .1s ease-in-out;
    cursor: pointer; }
  .hamburger-nav .submenu {
    display: none;
    margin-left: 70px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 0; }
    .hamburger-nav .submenu li {
      text-transform: none;
      padding: 10px 0;
      font-size: .8rem; }

.hamburger-nav-width {
  width: 250px; }

@media (min-width: 900px) {
  .hamburger-trigger {
    display: none; }

  .hamburger-nav {
    display: none; } }
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: .8rem;
  letter-spacing: 0;
  margin-left: 50px;
  transition: all .5s ease-in-out; }

@media (min-width: 900px) {
  footer {
    margin-left: 300px; } }
section {
  max-width: 767px;
  padding: 50px;
  border-bottom: 1px solid black;
  display: none; }
  section h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem; }

.image {
  width: 100%;
  height: 300px;
  background-color: grey; }

@media (min-width: 900px) {
  section {
    margin-left: 250px; } }
@keyframes point-left {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(-20px); } }
* {
  padding: 0;
  margin: 0;
  list-style-type: none; }

body {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: .05rem;
  margin: 0 0 50px;
  padding-top: 50px; }

p {
  line-height: 1.5rem;
  font-size: .9rem; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  color: white; }

/*# sourceMappingURL=styles.css.map */
