.hamburger-trigger{
  position: fixed;
  top:10px;
  left:50px;
  cursor: pointer;

  .fa{
    font-size: 30px;
  }
}

.hamburger-nav{
  background-color: $primary-color;
  position: fixed;
  top:0;
  left:0;
  z-index: 3;
  height: 100vh;
  width:0;
  transition: width .2s linear;
  box-shadow: 5px 0px 25px $shadow;

  .close-hamburger{
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color .2s ease-in-out;

    .fa{
      display: none;
      margin-left: 50px;
      font-size: 2rem;
      color: white;
    }

    p{
      margin-left: 15px;
      color:white;
      font-size: 1.3rem;
      font-weight: 400;
      text-transform: uppercase;
      display: none;
    }
  }

  .close-hamburger:hover{
    background-color: $shadow;
  }

  .menu-item{
    display: none;
    font-size: 1.3rem;
    line-height:2.5rem;
    margin-left: 50px;
    color:white;
    text-transform:uppercase;
    font-weight:400;
    transition:color .1s ease-in-out;
    cursor:pointer;

  }

  .submenu{
    display:none;
    margin-left: 70px;
    margin-bottom:10px;
    cursor:pointer;
    padding:10px 0;

    li{
      text-transform:none;
      padding:10px 0;
      font-size:.8rem;
    }
  }
}

.hamburger-nav-width{
  width: 250px;
}


@media (min-width:900px) {
  .hamburger-trigger{
    display: none;
  }

  .hamburger-nav{
    display: none;
  }
}
